/* reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

ul {
    list-style: none;
}


/* HEADER */

.banner {
    background-image: url(./img/wall.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 150px;


}

.titolo {
    color: black;
    text-align: center;
    padding-top: 30px;
    font-size: 70px;
    font-family: 'Sometype Mono', sans-serif;
}


/* PARTE CENTRALE */
.firstbody {

    background-image: url(./img/cork.png);
    background-size: cover;
    background-position: center;
    background-repeat: repeat;
}

/* CRTOLINA FOTO */
.container-foto {

    width: 80%;
    max-width: 1000px;
    margin: 0 auto;
    
}



.raw {
    display: flex;
    flex-wrap: wrap;
}

.col {
    position: relative;
    width: calc(100% / 3 - 50px); 
     height: 350px; 
    margin: 25px;
    background-color: white;


}

.img-area {
    width: calc(100% - 50px);
    
    margin: 25px;

}

.text-area {
    width: calc(100% - 50px);
    /* height: 80px; */
    margin:  25px;
    font-family: 'Edu TAS Beginner', sans-serif;
    /* background-color: aquamarine;  */
    text-align: center;
}

.pin {
    position: absolute;
    top: 0;
    left: 45%;
    height: 30px;

}

/* SEZIONE OVERLAY MODALE */
/* STILE OVERLAY */
.overlay-base {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
     display: none; 
    justify-content: center;
    align-items: center;
    z-index: 1000;
}
/* IMMAGINE OVERLAY */
.cont-popup{
    position: relative;
    display: flex;
    text-align: center;
    background: white;
    padding: 20px;
    border-radius: 10px;
    height: 200px;
   
}
.img-pupUp{
    display: flex;
    justify-content: center;
    align-items: center; 
    width: calc(100%);
    height: 100%;
}

.btn-close-overlay{
    border: 1px solid black;
    border-radius: 20%;
    padding: 4px;
    position: absolute;
    background-color: white;
    top: 2px;
    left: 4px;
}










/* MEDIA QUEY */
@media screen and (max-width: 776px) {
    .col {
        position: relative;
        width: calc(100% / 2 - 50px);
        

    }
    .titolo {
        color: black;
        text-align: center;
        padding-top: 35px;
        font-size: 50px;
        font-family: 'Sometype Mono', sans-serif;
    }

}


@media screen and (max-width: 425px) {
    .col {
        position: relative;
        width: calc(100% - 50px);
        /* width: 250px; */

    }
    .titolo {
        color: black;
        text-align: center;
        padding-top: 50px;
        font-size: 40px;
        font-family: 'Sometype Mono', sans-serif;
    }

}

